div {
    width: 150px;
    height: 50px;
    border: 4px solid black;
    position: relative;
    margin-bottom: 5px;
}

div:before {
    content: '';
    height: 100%;
    position: absolute;
}

div.low:before {
    width: 33%;
    background: red;
}

div.middle:before {
    width: 66%;
    background: blue;
}

div.high:before {
    width: 100%;
    background: green;
}

div:after {
    content: '';
    width: 10px;
    height: 20px;
    background: black;
    position: absolute;
    top: 15px;
    right: -10px;
}